
.card-logo {
    width: 90%;
    height: 347px;
    margin: auto;
    position: relative;
    text-align: center;
    background-color: #ffffff;
}

.logo-display {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.settings-content {
    background-image: url('../../assets/imgs/grass.jpeg');

}